*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  justify-content: center;
  align-items: center;
  margin: 80px auto 0;
}

.gallery-link {
  cursor: zoom-in;
}

.gallery-item {
  max-width: 360px;
  width: calc((100% - 2 * 24px) / 3);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}